<div id="<%= dom_id recipe %>" class="recipe flex-center pattern">
  <div class="flex-center">
    <h2>
      <%= recipe.name %>
    </h2>
  </div>

  <div class="desc flex-center">
    <h3>Description</h3>
    <p><%= recipe.description %></p>
  </div>
</div>