<p style="color: green"><%= notice %></p>


<div class="flex-center-col recipes-container">
  <div style="position: relative;">
    <h1>Recipes</h1>
    <% if @user === current_user %>
      <%= link_to "Add recipe", new_user_recipe_path(), class: "add-recipe" %>
    <%end%>
  </div>

  <div id="recipes">
    <% @recipes.each do |recipe| %>
      <%= link_to user_recipe_path(recipe.user, recipe), class: "flex-center" do %>
        <%= render partial: 'recipe_card', locals: { recipe: } %>
      <% end %>
    <% end %>
  </div>
</div>