<div class="container">
  <h1>Add Ingredient</h1>
  <%= render "form", recipe_food: @recipe_food, method: :post %>
</div>

<%= link_to "Back to recipe", user_recipe_path(@recipe.user, @recipe), class: "position-absolute top-0 end-0 m-2" %>