a {
  text-decoration: none !important;
}

.flex {
  display: flex;
}

.flex-center-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}

.heading {
  font-size: 2em;
  color: white;
  text-align: center;
  margin: 1em  0;
  font-weight: 700;
}

.back a {
  background-color: black;
  color: white !important;
  padding: 0.5em;
}

.recipes-container {
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;
  margin: auto;
}

#recipes a {
  height: 100%;
  width: 600px;
}

.recipe {
  height: 11em !important;
  width: inherit;
  box-shadow: 0 0 5px slategray;
  color: black;
  margin-bottom: 2em;
}

.recipe:hover {
  transform: scale(1.01);
  box-shadow: 0 0 5px black;
}

.recipe div:first-child {
  background-color: mediumslateblue;
  color: white;
  height: 100%;
  padding: 0 2em;
  flex: 1;
}

.recipe h2 {
  padding: 1em;
}

.desc {
  color: black !important;
  width: 400px;
  flex: 2;
  margin-left: 5em;
  padding: 0 1em;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  line-height: 1.4em;
}

.desc h3 {
  margin-bottom: 0.5em;
}

.pattern {
  background-size: 65%;
  background-position: -14px -114px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22b%22%3E%3Cpath fill=%22currentColor%22 d=%22M775 552q-131 52-128.5 229.5T517 906.5Q385 854 304.5 777T173 600q-51-100 3.5-197.5t152-113.5q97.5-16 208-128.5t147 33.5Q720 340 813 420t-38 132Z%22%2F%3E%3C%2FclipPath%3E%3Cpattern id=%22a%22 patternUnits=%22userSpaceOnUse%22 width=%2225%22 height=%2225%22 viewBox=%220 0 100 100%22 fill=%22rgba(123%2C104%2C238%2C1)%22%3E%3Ccircle cx=%2225%22 cy=%2225%22 r=%228.333%22%2F%3E%3Ccircle cx=%2275%22 cy=%2275%22 r=%228.333%22%2F%3E%3C%2Fpattern%3E%3C%2Fdefs%3E%3Cpath fill=%22url(%23a)%22 d=%22M775 552q-131 52-128.5 229.5T517 906.5Q385 854 304.5 777T173 600q-51-100 3.5-197.5t152-113.5q97.5-16 208-128.5t147 33.5Q720 340 813 420t-38 132Z%22 transform=%22translate(-60 -60)%22%2F%3E%3Cg clip-path=%22url(%23b)%22%3E%3Cpath fill=%22rgba(123%2C104%2C238%2C1)%22 d=%22M775 552q-131 52-128.5 229.5T517 906.5Q385 854 304.5 777T173 600q-51-100 3.5-197.5t152-113.5q97.5-16 208-128.5t147 33.5Q720 340 813 420t-38 132Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.add-recipe {
  position: absolute;
  top: 0.25em;
  left: 120%;
  width: max-content;
  padding: 0.5em 1em;
  cursor: pointer;
  background: yellowgreen;
  color: white;
  font-weight: 500;
  box-shadow: none;
  border-radius: 5px;
}

.add-recipe:hover {
  color: navy;
}

.recipe-form-container {
  position: absolute;
  width: 600px;
  top: 0;
  left: 0;
  right: 0;
  margin: 1em auto;
  background-color: mediumslateblue;
  border-radius: 5px;
  padding: 2em;
}

.recipe-form {
  padding: 1em 3em;
  margin: auto;
}

.recipe-form input {
  border: 0 !important;
}

.recipe-form .row {
  width: 100%;
}

.recipe-form .row .col input {
  width: 100% !important;
}

.recipe-form textarea {
  width: 100%;
  padding: 1em;
}

.delete {
  z-index: 1;
  position: absolute;
  padding-right: 0.5em;
  border: 0;
  background: none;
  top: 0;
  right: 0;
}

.delete::after {
  display: none;
}

.del-dropdown {
  width: 100% !important;
  height: 100%;
}

.private {
  z-index: 1;
  position: absolute;
  border-radius: 0 !important;
  top: 0;
  left: 0;
  cursor: auto;
}
